<div class="container">
  <md-toolbar color="primary">
    <span>Tareas Personales</span>
    <md-icon>more_vert</md-icon>
    <button md-raised-button color="primary" [routerLink]="['/']">
      <md-icon>home</md-icon>
      Home
    </button> 
    <button md-raised-button color="primary" [routerLink]="['/login']">
      <md-icon>add_circle</md-icon>
      Crear tarea
    </button>
    <button md-raised-button color="primary" [routerLink]="['/register']">
      <md-icon>settings</md-icon>
      Ajustes
    </button>
    <button md-raised-button color="primary" [routerLink]="['/']">
      <md-icon>exit_to_app</md-icon>
      Salir
    </button>
    
    <div class="md-toolbar-tools">
    <span flex></span>
      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>view_headline</md-icon>
      </button>
      <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item>Ingresar</button>
        <button md-menu-item>Registro</button>
      </md-menu>
    </div>
  </md-toolbar>
</div>